In [2]:
from pycaret.datasets import get_data
from pycaret.regression import *

In [3]:
from pycaret.datasets import get_data

# Get information about all available datasets
data_info = get_data()

,Dataset,Data Types,Default Task,Target Variable 1,Target Variable 2,# Instances,# Attributes,Missing Values
0,anomaly,Multivariate,Anomaly Detection,None,None,1000,10,N
1,france,Multivariate,Association Rule Mining,InvoiceNo,Description,8557,8,N
2,germany,Multivariate,Association Rule Mining,InvoiceNo,Description,9495,8,N
3,bank,Multivariate,Classification (Binary),deposit,None,45211,17,N
4,blood,Multivariate,Classification (Binary),Class,None,748,5,N
5,cancer,Multivariate,Classification (Binary),Class,None,683,10,N
6,credit,Multivariate,Classification (Binary),default,None,24000,24,N
7,diabetes,Multivariate,Classification (Binary),Class variable,None,768,9,N
8,electrical_grid,Multivariate,Classification (Binary),stabf,None,10000,14,N
9,employee,Multivariate,Classification (Binary),left,None,14999,10,N
10,heart,Multivariate,Classification (Binary),DEATH,None,200,16,N
11,heart_disease,Multivariate,Classification (Binary),Disease,None,270,14,N
12,hepatitis,Multivariate,Classification (Binary),Class,None,154,32,Y
13,income,Multivariate,Classification (Binary),income >50K,None,32561,14,Y
14,juice,Multivariate,Classification (Binary),Purchase,None,1070,15,N
15,nba,Multivariate,Classification (Binary),TARGET_5Yrs,None,1340,21,N
16,wine,Multivariate,Classification (Binary),type,None,6498,13,N
17,telescope,Multivariate,Classification (Binary),Class,None,19020,11,N
18,titanic,Multivariate,Classification (Binary),Survived,None,891,11,Y
19,us_presidential_election_results,Multivariate,Classification (Binary),party_winner,None,497,7,N
20,glass,Multivariate,Classification (Multiclass),Type,None,214,10,N
21,iris,Multivariate,Classification (Multiclass),species,None,150,5,N
22,poker,Multivariate,Classification (Multiclass),CLASS,None,100000,11,N
23,questions,Multivariate,Classification (Multiclass),Next_Question,None,499,4,N
24,satellite,Multivariate,Classification (Multiclass),Class,None,6435,37,N
25,CTG,Multivariate,Classification (Multiclass),NSP,None,2129,40,Y
26,asia_gdp,Multivariate,Clustering,None,None,40,11,N
27,elections,Multivariate,Clustering,None,None,3195,54,Y
28,facebook,Multivariate,Clustering,None,None,7050,12,N
29,ipl,Multivariate,Clustering,None,None,153,25,N
30,jewellery,Multivariate,Clustering,None,None,505,4,N
31,mice,Multivariate,Clustering,None,None,1080,82,Y
32,migration,Multivariate,Clustering,None,None,233,12,N
33,perfume,Multivariate,Clustering,None,None,20,29,N
34,pokemon,Multivariate,Clustering,None,None,800,13,Y
35,population,Multivariate,Clustering,None,None,255,56,Y
36,public_health,Multivariate,Clustering,None,None,224,21,N
37,seeds,Multivariate,Clustering,None,None,210,7,N
38,wholesale,Multivariate,Clustering,None,None,440,8,N
39,tweets,Text,NLP,tweet,None,8594,2,N
40,amazon,Text,NLP / Classification,reviewText,None,20000,2,N
41,kiva,Text,NLP / Classification,en,None,6818,7,N
42,spx,Text,NLP / Regression,text,None,874,4,N
43,wikipedia,Text,NLP / Classification,Text,None,500,3,N
44,automobile,Multivariate,Regression,price,None,202,26,Y
45,bike,Multivariate,Regression,cnt,None,17379,15,N
46,boston,Multivariate,Regression,medv,None,506,14,N
47,concrete,Multivariate,Regression,strength,None,1030,9,N
48,diamond,Multivariate,Regression,Price,None,6000,8,N
49,energy,Multivariate,Regression,Heating Load,Cooling Load,768,10,N
50,forest,Multivariate,Regression,area,None,517,13,N
51,gold,Multivariate,Regression,Gold_T+22,None,2558,121,N
52,house,Multivariate,Regression,SalePrice,None,1461,81,Y
53,insurance,Multivariate,Regression,charges,None,1338,7,N
54,parkinsons,Multivariate,Regression,PPE,None,5875,22,N
55,traffic,Multivariate,Regression,traffic_volume,None,48204,8,N

In [4]:
from pycaret.datasets import get_data

# Load the insurance dataset
insurance_data = get_data('insurance')
print(insurance_data)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
r_setup = setup(data=insurance_data, target='charges', session_id=123)

In [6]:
best_model = compare_models(fold=10, sort='MAE')  # Sort models based on Mean Absolute Error (MAE)

Initiated  . . . . . . . . . . . . . . . . . .             22:23:54
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .    Linear Regression

In [7]:
gbrmodel = create_model('gbr')

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [8]:
tuned_gb_model = tune_model(gbrmodel, optimize='MAE', fold=5)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [9]:
# Evaluate the tuned model
evaluate_model(tuned_gb_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [10]:
predictions = predict_model(tuned_gb_model)

# Debugging: check the structure of the predictions DataFrame
print(predictions.head())

# Check if the 'Label' column exists in the DataFrame
if 'Label' in predictions.columns:
    # Calculate metrics manually
    from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

    y_true = predictions['charges']
    y_pred = predictions['Label']

    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)

    print("Mean Absolute Error (MAE):", mae)
    print("Mean Squared Error (MSE):", mse)
    print("R-squared (R2):", r2)
else:
    print("Error: 'Label' column not found in predictions DataFrame.")

     age     sex        bmi  children smoker     region       charges  \
650   49  female  42.680000         2     no  southeast   9800.888672
319   32    male  37.334999         1     no  northeast   4667.607422
314   27  female  31.400000         0    yes  southwest  34838.871094
150   35    male  24.129999         1     no  northwest   5125.215820
336   60    male  25.740000         0     no  southeast  12142.578125

     prediction_label
650      10681.513104
319       8043.453463
314      36153.097686
150       7435.516853
336      14676.544334
Error: 'Label' column not found in predictions DataFrame.

In [11]:
save_model(tuned_gb_model, 'gbrmodel')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['age', 'bmi', 'children'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['sex', 'smoker', 'region'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('ordinal_encoding',
                  TransformerWrapper(include=['sex', 'smoker'],
                                     transfor...
                                                                          'data_type': dtype('O'),
                                                                          'mapping': female    0
 male      1
 NaN      -1
 dtype: int64},
                                                                         {'col': 'smoker',
                                                                          'data_type': dtype('O'),
                                                                          'mapping': no     0
 yes    1
 NaN   -1
 dtype: int64}]))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['region'],
                                     transformer=OneHotEncoder(cols=['region'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('trained_model', GradientBoostingRegressor(random_state=123))]),
 'gbrmodel.pkl')

In [14]:
prediction = predict_model(tuned_gb_model, data=insurance_data)
print(prediction)

      age     sex        bmi  children smoker     region       charges  \
0      19  female  27.900000         0    yes  southwest  16884.923828
1      18    male  33.770000         1     no  southeast   1725.552246
2      28    male  33.000000         3     no  southeast   4449.461914
3      33    male  22.705000         0     no  northwest  21984.470703
4      32    male  28.879999         0     no  northwest   3866.855225
...   ...     ...        ...       ...    ...        ...           ...
1333   50    male  30.969999         3     no  northwest  10600.547852
1334   18  female  31.920000         0     no  northeast   2205.980713
1335   18  female  36.849998         0     no  southeast   1629.833496
1336   21  female  25.799999         0     no  southwest   2007.944946
1337   61  female  29.070000         0    yes  northwest  29141.359375

      prediction_label
0         18464.334448
1          4020.345384
2          6555.388388
3          9627.045725
4          3325.531292
...                ...
1333      11824.542819
1334       3044.638467
1335       2507.539055
1336       2606.628126
1337      28636.644913

[1338 rows x 8 columns]